/* Colors */

$color-1: #000000;
$color-2: #14213d;
$color-3: #fca311;
$color-4: #e5e5e5;
$color-5: #ffffff;

/* Fonts */

$font-major: 'Roboto Condensed', sans-serif;
$font-minor: 'Roboto', sans-serif;
