@import './base';

body {
  background-color: $color-1;
  margin: 0;
}

h1 {
  font-family: $font-major;
  margin: 0;
}

p {
  font-family: $font-minor;
  color: $color-5;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  border: none;
  background-color: transparent;
  font-family: $font-major;
  cursor: pointer;
}

li {
  font-family: $font-minor;
}

.parent-container {
  width: 100%;
}

.child-container {
  width: 100%;
  max-width: 1536px;
}
